Vtys.Core/bin
Vtys.Core/obj
Vtys.Homework.Business/bin
Vtys.Homework.Business/obj
Vtys.Homework.DataAccess/bin
Vtys.Homework.DataAccess/obj
Vtys.Homework.Entities/bin
Vtys.Homework.Entities/obj
Vtys.Homework.WebApi/bin
Vtys.Homework.WebApi/obj
.vs